{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
  {{> "carousel-footer" fixed="true"}}
  <div class="error-wrapper">
    <h1>ups!</h1>
    <h2>no hemos encontrado lo que estás buscando</h2>
    <a href="/" class="btn btn-primary">volver</a>
  </div>
</main>
