{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
  {{> "carousel-footer" fixed="true"}}
  <h1>error</h1>
  <p class="notice">página no encontrada</p>
  <a href="/" class="btn btn-primary">volver</a>
</main>
