{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
       {{>navigation}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
    {{> "carousel"}}
    <div class="container gallery-principal">
        <h2 class="gallery-proyectos">Proyectos</h2>
        <div class="row rowGallery">
            <div class="col-md-4 imgContainer">
                <a href="#" class="thumbnail imgGallery">
                    <img src="assets/img/carousel2.jpg" alt="prendho">
                </a>
            </div>
            <div class="col-md-4 imgContainer">
                <a href="#" class="thumbnail imgGallery">
                    <img src="assets/img/cima.jpg" alt="cima">
                </a>
            </div>
            <div class="col-md-4 imgContainer">
                <a href="#" class="thumbnail imgGallery last-picture">
                    <img src="assets/img/copdesarrollo.jpg" alt="copdesarrollo">
                </a>
            </div>
        </div>
        <div class="row rowGallery">
            <div class="col-md-4 imgContainer">
                <a href="#" class="thumbnail imgGallery">
                    <img src="assets/img/sinfin.jpg" alt="sinfin" >
                </a>
            </div>
            <div class="col-md-4 imgContainer">
                <a href="#" class="thumbnail imgGallery">
                    <img src="assets/img/agropecuario.jpg" alt="agropecuario" >
                </a>
            </div>
            <div class="col-md-4 imgContainer">
                <a href="#" class="thumbnail imgGallery last-picture">
                    <img src="assets/img/negocios.jpg" alt="negocios">
                </a>
            </div>
        </div>
    </div>
</main>
