{{!< default}}
{{#post}}
  {{! The main content area on the homepage }}
  <main id="content" class="content" role="main">
    {{> "carousel"}}
    <div class="container gallery gallery-principal">
      <h2 class="gallery-title">Conoce al equipo</h2>
      {{> "carouselEquipo"}}

      <h2 class="gallery-title">Trabaja con nosotros</h2>
      <div class="row">
        {{> "trabaja-con-nosotros"}}
        {{#get "posts" filter="tag:equipocontactos" order="title desc" as |post|}}
          {{#foreach post}}
            <div class="col-xs-offset-2 col-xs-8 col-sm-3 col-sm-offset-0">
              <div class="gallery-element">
                <div class="img-gallery">
                  <div class="img-responsive"
                        style="background-image: url('{{image}}')"></div>
                </div>
                <div class="gallery-caption-wrapper">
                  <div class="gallery-caption">
                    <p>{{title}}</p>
                  </div>
                </div>
              </div>
            </div>
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </main>
{{/post}}
