{{!< default}}
{{#post}}
  {{! The main content area on the homepage }}
  <main id="content" class="content" role="main">
    {{> "carousel"}}
      <div class="container gallery gallery-principal" id="gallery-fedes">
        <div>
          <h2 class="gallery-title">Aliados</h2>
        </div>
        <div class = "hidden-xs">
          <div class="row row-services">
          </div>
        </div>
      </div>
  </main>
{{/post}}
