{{!< default}}
{{#post}}
  {{! The main content area on the homepage }}
  <main id="content" class="content" role="main">
    {{> "carousel"}}
    <div class="container gallery gallery-principal page-aliados">
      {{#get "tags" filter="slug:aliados" as |aliadosTag|}}
        {{#aliadosTag}}
          {{> "gallery-title" currentTag=aliadosTag}}
        {{/aliadosTag}}
      {{/get}}
      <div class="row row-services hidden-xs">
        <section>
          {{#get "posts" filter="tag:aliadosfedes" as |services|}}
            {{#foreach services}}
              <div class="col-xs-12 col-sm-4 aliado-wrapper">
                <a href="{{url}}">
                  <figure class="aliado img-gallery-services">
                    <div style="background-image: url({{image}});"
                      class="img-responsive"
                      alt="{{title}}"></div>
                      <div>
                        <p>{{title}}</p>
                      </div>
                  </figure>
                </a>
              </div>
            {{/foreach}}
          {{/get}}
        </section>
      </div>
      {{> "carouselAliados"}}
    </div>
  </main>
{{/post}}
