{{!< default}}
{{#post}}
  {{! The main content area on the homepage }}
  <main id="content" class="content" role="main">
    {{> "carousel"}}
    <div class="container gallery gallery-principal page-equipo">
      <h2 class="gallery-title">Conoce al equipo</h2>
      {{#get "posts" filter="tag:imagenequipo" as |images|}}
        {{> "carouselEquipo" images=images index=1}}
      {{/get}}

      <h2 class="gallery-title">Trabaja con nosotros</h2>
      <div class="row">
        {{> "trabaja-con-nosotros"}}
        {{> "trabaja-con-nosotros-toggable"}}
      </div>

      {{#get "tags" filter="slug:directorio" as |tag|}}
        {{#tag}}
          <h2 class="gallery-title">{{name}}</h2>
        {{/tag}}
        {{#get "posts" filter="tag:directorio" as |images|}}
          {{> "carouselEquipo" images=images index=2}}
        {{/get}}
      {{/get}}
    </div>
  </main>
{{/post}}
