{{!< default}}
{{#post}}
  {{! The main content area on the homepage }}
  <main id="content" class="content" role="main">
      {{> "carousel"}}
      <div class="container gallery gallery-principal" id="gallery-fedes">
        <div>
          <h2 class="gallery-title">Aliados</h2>
        </div>
        <div class = "hidden-xs">
          <div class="row row-services">
            <section>
              {{#get "posts" filter="tag:aliadosfedes" as |services|}}
                {{#foreach services}}
                  <div class="col-xs-12 col-sm-4">
                    <figure class="img-gallery-services">
                      <img src="{{image}}"
                        class="img-responsive"
                        alt="{{title}}"/>
                      <div>
                        <p>{{title}}</p>
                      </div>
                    </figure>
                  </div>
                {{/foreach}}
              {{/get}}
            </section>
          </div>
        </div>
        {{> "carouselAliados"}}
      </div>
  </main>
{{/post}}
