<div class="row visible-xs">
  <div class="carousel-aliados-wrapper col-xs-offset-2 col-xs-8">
    <div id="myCarouselAliados" class="carousel slide">
      <div class="carousel-inner carouselAliados">
        {{#get "posts" filter="tag:aliadosfedes" as |images|}}
          {{#foreach images}}
            <div class="item">
              <div class="aliado">
                <div class="img-responsive"
                     style="background-image: url('{{image}}')"></div>
              </div>
            </div>
          {{/foreach}}
        {{/get}}
      </div>
      <div class="carousel-controls-wrapper controlsAliados">
        <a class="left carousel-control" href="#myCarouselAliados" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarouselAliados" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
