<div class="carouselmovil">
  <div class="container">
    <div id="myCarouselAliados" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carouselAliados visible-xs" role="listbox">
        {{#get "posts" filter="tag:aliadosfedes" as |images|}}
          {{#foreach images}}
          <div class="item">
            <img src="{{image}}" class="img-responsive">
            <div>
              <p>{{title}}</p>
            </div>
          </div>
          {{/foreach}}
        {{/get}}
      </div>
      <div class="carousel-controls-wrapper controlsAliados">
        <a class="left carousel-control" href="#myCarouselAliados" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarouselAliados" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
