{{#get "posts" filter="slug:fedes-main" as |post|}}
   {{#post}}
     <div class="fedes-main mainTitle">
       <h2 class="gallery-title">{{title}}</h2>
       <div class="text-center">{{content}}</div>
     </div>
   {{/post}}
 {{/get}}
