<form class="form-equipo" data-toggle="validator" role="form">
  <fieldset>Datos Personales:</fieldset>
  <div class="form-group">
    <input type="text" class="form-control" id="nameInput"
    placeholder="nombres*" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="lastNameInput"
    placeholder="apellidos*" required>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="emailInput" placeholder="e-mail*" required>
  </div>
  <div class="form-group">
    <input type="tel" class="form-control" id="telInput" placeholder="teléfono*" required>
  </div>
  <div class="row checkboxes">
    <div class="col-xs-4 checkboxes-label">
      <label>género:</label>
    </div>
    <div class="col-xs-8 checkboxes-options">
      <div>
        <input type="checkbox" name="genere" value="male">
        masculino
      </div>
      <div>
        <input type="checkbox" name="genere" value="female">
        femenino
      </div>
    </div>
  </div>

  <fieldset>Datos de Usuario:</fieldset>
  <div class="form-group">
    <input type="text" class="form-control" id="username"
    placeholder="nombre de usuario" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password"
    placeholder="contraseña" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="recpassword"
    placeholder="confirmar contraseña" required>
  </div>
  <div class="form-advise">* datos requeridos de manera obligatoria</div>
  <div class="help-block with-errors"></div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">registrarse</button>
  </div>
</form>
