<div class="gcse-hidden">
  <script>
    (function() {
      var cx = '018017123642423455924:jidcloovsce';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>
<div class="gcse-fedes-search">
  <form action="#" method="post">
    <input type="search" name="search" placeholder="Buscar..." autocomplete="off" value="">
  </form>
  <i class="glyphicon glyphicon-search"></i>
</div>
