<div class="menuSuperior navbar-content ">
    <nav class="navbar navbar-default headerNavbar hidden-xs ">
      <div class ="triangle-topright"></div>
      <div class="container-fluid">
        <ul class="nav navbar-nav listHeader">
          <li><a class="navbar-menuItem" href="/">Inicio</a></li>
          <li><a class="navbar-menuItem" href="#">Contactos</a></li>
          <li><a class="navbar-menuItem" href="#">English</a></li>
        </ul>
      </div>
    </nav>
</div>
