<div class="navbar-content">
    <nav class="navbar navbar-default headerNavbar">
      <div class="container-fluid">
        <div class ="triangle-topright"></div>
        <ul class="nav navbar-nav listHeader">
          <li><a class="fa fa-arrow-circle-o-right listItemHeader" href="#">Inicio</a></li>
          <li><a class="fa fa-arrow-circle-o-right listItemHeader" href="#">English</a></li>
          <li><a class="fa fa-arrow-circle-o-right listItemHeader" href="#">Contactos</a></li>
        </ul>
      </div>
    </nav>
</div>
