<header class="main-header">
  <a class="logo-fedes" href="/">
    <img src="{{ @blog.logo }}" class="img-responsive">
  </a>
  <nav class="navbar navbar-default main-navbar">
    <div class="container-fluid">
      <div class="navbar-header main-navbar-header">
        <button type="button"
          class="navbar-toggle collapsed main-navbar-button"
          data-toggle="collapse"
          data-target="#main-navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <div class="triangle-topleft"></div>
        <div class="triangle-topright"></div>
        <ul class="nav navbar-nav navbar-list">
          <li><a class="navbar-menuItem" href="/servicios">Servicios</a></li>
          <li><a class="navbar-menuItem" href="/equipo">Equipo</a></li>
          <li><a class="navbar-menuItem" href="#">Cooperantes</a></li>
          <li><a class="navbar-menuItem" href="/blog">Blog</a></li>
          <li><a class="navbar-menuItem" href="/aliados">Aliados</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
