<nav class="navbar navbar-default main-navbar col-sm-7 col-sm-offset-5">
  <div class="container-fluid">
    <div class="navbar-header main-navbar-header">
      <button type="button"
        class="navbar-toggle collapsed main-navbar-button"
        data-toggle="collapse"
        data-target="#main-navbar-collapse"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <div class="triangle-topleft"></div>
      <div class="triangle-topright"></div>
      <ul class="nav navbar-nav navbar-list navbar-carousel">
        <li><a class="navbar-menuItem" href="/">Inicio</a></li>
        <li><a class="navbar-menuItem" href="/contactos">Contactos</a></li>
        <li><a class="navbar-menuItem" href="#">English</a></li>
        {{navigation}}
      </ul>
    </div>
  </div>
</nav>
