<div class="nav-blog">
  <ul class="nav {{#is "post"}} nav-pills nav-stacked {{else}} nav-tabs {{/is}}">
    <li class="active">
      <a href="/blog/">All</a>
    </li>
    {{#get "posts" order="created_at asc" filter="tag:blog-category" as |categories|}}
      {{#foreach categories}}
        <li>
          <a href="/tag/{{slug}}/">{{title}}</a>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
</div>
