<div class="navbar-content">
  <div class="logoNavbar">
    <img src="{{asset 'img/logo.png'}}" class="img-responsive">
  </div>
    <nav class="navbar navbar-default headerNavbar">
      <div class="container-fluid">
        <div class ="triangle-topright"></div>
        <ul class="nav navbar-nav listHeader">
          <li><a class="glyphicon glyphicon-chevron-right listItemHeader" href="#">Inicio</a></li>
          <li><a class="glyphicon glyphicon-chevron-right listItemHeader" href="#">English</a></li>
          <li><a class="glyphicon glyphicon-chevron-right listItemHeader" href="#">Contactos</a></li>
        </ul>
      </div>
    </nav>
</div>
