{{#foreach navigation}}
  <li class="{{#if current}} nav-current{{/if}}">
    <a href="{{url absolute="true"}}">
      <span class="bullet-marker">•</span>
      {{label}}
    </a>
  </li>
{{/foreach}}
