<div class="nvbarprincipal navbar-content ">
    <nav class="navbar navbar-default headerNavbar hidden-xs ">
      <div class ="triangle-topright"></div>
      <div class="container-fluid">
        <ul class="nav navbar-nav listHeader">
          {{navigation}}
        </ul>
      </div>
    </nav>
</div>
