<nav class="pagination" role="navigation">
  <ul id="pagination-list" class="page-number pagination"></ul>
  <div id="page-total" style="display:none;">{{pages}}</div>
  <div id="page-current" style="display:none;">{{page}}</div>
</nav>
