<div class="post-breadcrumbs">
  <ol class="breadcrumb">
    {{#has tag="blog"}}
      <li class="breadcrumb-parent">
        <div class="circle-common"></div><a href="/tag/blog/">Blog</a>
      </li>
    {{/has}}

    {{#has tag="Equipo"}}
      <li class="breadcrumb-parent">
        <div class="circle-common"></div><a href="/equipo/">Equipo</a>
      </li>
    {{/has}}

    <li class="active">
      {{#has tag="Imagen Equipo"}}
        {{title}}
      {{else}}
        {{tags from='2' autolink='false'}}
      {{/has}}
    </li>
  </ol>
</div>
