.navbar.navbar-default{
  border-color: #FFFFFF;
  background-color: #eee;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  height: 85px;

}
.triangle-topright {
	width: 25;
	height: 0;
	border-top: 84px solid #eee;
	border-left: 58px solid transparent;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: absolute;
  right: 100%;
}
.navbar {
    left: 30%;
}
.navbar .navbar-nav {
  padding-left: 400px;
  padding-top: 2%;
}
